body{
    background-color: beige
}
.width-100{
    image-orientation: center;
    width: 100%;
    background: rgb(14, 1, 1);
}
.table{
    width: 1000px;
    height: 50px;
    image-orientation: center;
}
.text-uppercase{
    text-align: center;
    text-transform:  uppercase;
    color: white;
}
.text{
    font-size: 15px;
    text-align: center;
    color: white;
}